<div class="row">
	<div class="col-xs-4">
		<label>Path do settings.xml</label>
	</div>
	<div class="col-xs-8">
		<input class="form-control" placeholder="Path do arquivo settings.xml" ng-model="mainPath">
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-4">
		<span ng-if="!!currentProject">
			<strong>Projeto atual</strong>: {{currentProject.name}}
		</span>
	</div>
	<div class="col-xs-4">
		<input class="form-control" placeholder="Pesquisar" ng-model="searchText">
	</div>
	<div class="col-xs-4">
		<button class="btn btn-primary" data-toggle="modal" data-target="#modalPessoa"><span class="glyphicon glyphicon-plus"></span> Novo projeto</button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped" ng-init="listProjects()">
			<thead>
				<th>#</th>
				<th>Nome</th>
				<th>Nome do banco</th>
				<th></th>
			</thead>
			<tbody>
				<!-- Listagem -->
				<tr dir-paginate="project in projects|filter:searchText|itemsPerPage:8">
					<td>{{project.id}}</td>
					<td>{{project.name}}</td>
					<td>{{project.dbName}}</td>
					<td>
						<button class="btn btn-default btn-xs" title="Usar este" ng-if="currentProject.id != project.id" ng-click="setAsCurrent(project)">&nbsp;<span class="glyphicon glyphicon-star"></span> Selecionar</button>
						<button class="btn btn-default btn-xs" title="Atual" ng-if="currentProject.id == project.id" disabled>&nbsp;<span style="color: gold" class="glyphicon glyphicon-star"></span>&nbsp; Atual</button>
						<button class="btn btn-info btn-xs" ng-click="edit(project)"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
						<button class="btn btn-danger btn-xs" ng-click="delete(project)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- Paginação -->
<div class="row">
	<div class="col-md-12 text-center">
		<dir-pagination-controls>
		</dir-pagination-controls>
	</div>
</div>

<!-- Modal Cadastro e Edição -->
<div class="modal fade" id="modalPessoa" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Projeto</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label>Nome</label>
						<input class="form-control" type="text" ng-model="project.name">
					</div>
					<div class="col-md-6">
						<label>Nome do banco</label>
						<input class="form-control" type="text" ng-model="project.dbName">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="project = {}" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="save(project)">Salvar</button>
			</div>
		</div>
	</div>
</div>